/* 
Makes one of the heros just a little more visable
*/
.hero {
    background-color: hsl(231, 24%, 14%);
    border-radius: 0px;
    box-shadow: 0 0.5em 1em -0.125em rgba(234, 235, 241, 0.1), 0 0px 0 1px rgba(234, 235, 241, 0.02);
    color: #cbcedc;
    display: block;
    padding: 1.25rem;
    margin-top: 15px;
}

.export-dropdown {
    display: none;
}